<?xml version="1.0"?>
<launch>

    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_publisher_link" args="0 0 .3 0 0 0 map camera_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_map_env" args="1 0 .3 0 -1.57 0 map env_link 100" />

    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_simulating_grasping_pose" args="0 0.05 0 0 0 0 env_link grasp 100" />


</launch>
