<?xml version="1.0"?>
<launch>

  <arg name="publisher_file_path" default="$(find mimic_grasping_ros_interface_package)/models/support_bracket.ply" />

  <!-- Publish point cloud from file -->
  <node pkg="point_cloud_io" type="read" name="read" output="screen">
    <param name="file_path" value="$(arg publisher_file_path)" />
    <param name="topic"     value="/publisher/depth/points" />
    <param name="frame"     value="env_frame" />
    <param name="rate"      value="0.5" />
  </node>

</launch>
