<?xml version="1.0"?>
<launch>

  <!-- Publish point cloud from file -->
  <node pkg="point_cloud_io" type="read" name="read" output="screen">
    <!--param name="file_path" value="$(find mimic_grasping_ros_interface_package)/models/received_cloud_single_side_bracket_pose_p1.ply" /-->
    <param name="file_path" value="$(find mimic_grasping_ros_interface_package)/models/received_cloud_support_bracket_pose_p1.ply" />
    <param name="topic"     value="/publisher/depth/points" />
    <param name="frame"     value="camera_gray_optical_frame" />
    <param name="rate"      value="0.5" />
  </node>

</launch>
