<?xml version="1.0"?>
<launch>

    <arg name="namespace" default="object_recognition" />

    <arg name="robot_namespace" default="friday" />
    <arg name="use_cad_matching" default="true" />
    <arg name="use_roi" default="false" />

    <arg name="use_photoneo" default="false" />
    <arg name="use_asus" default="false" />
    <arg name="use_publisher" default="true" />
    <arg name="enable_respawn" default="false" />


    <arg name="use_segmented_pointcloud" default="false" />
    <arg name="use_pca" default="$(eval use_asus and not use_cad_matching)" />
    <arg name="reference_pointclouds_database_folder_path" default="$(find mimic_grasping)/models" />

    <arg name="ambient_pointcloud_topic" default="/camera/depth_registered/points" if="$(arg use_photoneo)" />
    <arg name="ambient_pointcloud_topic" default="/camera/depth_registered/points" if="$(arg use_asus)" />
    <arg name="ambient_pointcloud_topic" default="/publisher/depth/points" if="$(arg use_publisher)" />

    <include file="$(find object_recognition_skill_server)/launch/object_recognition.launch" >

        <arg name="namespace" default="$(arg namespace)" />
        <arg name="sensor_frame_id" default="camera_link" />
        <arg name="object_frame_id" default="object" />
        <arg name="enable_respawn" default="$(arg enable_respawn)"/>

        <arg name="use_voxel_grid" default="false" />
        <arg name="use_random_sample" default="false" />
        <arg name="use_noise_removal" default="true" />
        <arg name="use_normal_estimation" default="true" />
        <arg name="use_plane_segmentation" default="false" />
        <arg name="use_region_growing_segmentation" default="$(arg use_pca)" />
        <arg name="use_euclidean_clustering_segmentation" default="true" />
        <arg name="use_feature_matching_for_initial_alignment" default="$(eval use_cad_matching)" />
        <arg name="use_pca_for_initial_alignment" default="$(arg use_pca)" />
        <arg name="clustering_module_parameter_server_namespace" default="filters/ambient_pointcloud_feature_registration/3_euclidean_clustering/cluster_selector/" if="$(eval use_cad_matching)" />
        <arg name="clustering_module_parameter_server_namespace" default="filters/ambient_pointcloud_filters_after_normal_estimation/1_region_growing/cluster_selector/" if="$(eval use_pca)" />

        <arg name="yaml_configuration_filters_filename" default="$(find mimic_grasping)/config/perception/filters.yaml" />
        <arg name="yaml_configuration_filters_euclidean_clustering_filename" default="$(find mimic_grasping)/config/perception/filters_cad.yaml" />
        <arg name="yaml_configuration_filters_region_growing_filename" default="$(find mimic_grasping)/config/perception/filters_pca.yaml" if="$(arg use_pca)" />
        <arg name="yaml_configuration_filters_roi_filename" default="$(find mimic_grasping)/config/perception/filters_roi.yaml" if="$(arg use_roi)" />
        <arg name="yaml_configuration_transformation_validators_filename" default="$(find mimic_grasping)/config/perception/transformation_validators.yaml" />

        <arg name="ambient_pointcloud_topic" default="$(arg ambient_pointcloud_topic)"/>

        <arg name="reference_pointclouds_database_folder_path" default="$(arg reference_pointclouds_database_folder_path)" />
        <arg name="reference_pointcloud_filename" default="single_side_bracket" />

        <arg name="number_of_recognition_retries" default="5" />
    </include>

</launch>
