<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="action_name" default="PhotoneoSkill"/>

    <!-- Symbolic Pose Interaction Skill -->
    <node name="photoneo_skill" pkg="photoneo_skill_server" type="photoneo_skill_server" output="screen">
      <param name='action_name' value='$(arg action_name)' />
	<remap from="get_device_list" to="/phoxi_camera/get_device_list"/>
	<remap from="connect_camera" to="/phoxi_camera/connect_camera"/>
	<remap from="start_acquisition" to="/phoxi_camera/start_acquisition"/>
	<remap from="trigger_image" to="/phoxi_camera/trigger_image"/>
	<remap from="get_frame" to="/phoxi_camera/get_frame"/>
    </node>
</launch>
